<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <style>
    body {
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    #container {
      border: 1px solid black;
      width: 300px;
      height: 500px;
      padding: 5px;
      justify-content: center;
    }

    #list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid black;
      height: 350px;
    }

    .input {
      margin: 10px 30px;
    }

    #title {
      display: flex;
      justify-content: center;
      font-size: 25px;
      margin-top: 60px;
      margin-bottom: 20px;
    }

    .button {
      display: flex;
      margin-top: 30px;
      justify-content: center;
      border: 1px solid black;
      border-radius: 30px;
      width: 150px;
      height: 40px;
      align-items: center;
    }
  </style>
</head>

<body>
  <div id='container'>
    <div id='title'>X월 X일 Event</div>
    <div id='list'>
      <input class='input'>
      <input class='input'>
      <input class='input'>
      <input class='input'>
      <input class='input'>
      <input class='input'>
      <input class='input'>
      <input class='input'>
    </div>
    <div style='
        display: flex; 
        justify-content: 
        flex-end; 
        margin-top: 10px;'>
      
      total: 225,000
      <div class='button' id="createQrClick">QR생성</div>
      
    </div>

  </div>
  <!-- JQuery library file. requared all pages -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script>
    const userEmail = localStorage.getItem("userEmail");
    var fin_use_num;
    // console.log("userEmail", userEmail);
    fetchUserData();
    function fetchUserData() {
      $.ajax({
        url: "/list",
        type: "POST",
        data: {
          userEmail: userEmail
        },
        success: function (data) {
          // console.log('data' ,data);
          var fin_use_num = data.res_list[0].fintech_use_num;
          console.log(fin_use_num);
          $("#createQrClick").click(function() { window.location.href = "/qrcode?fin_use_num=" + fin_use_num; } );
         
          
      }});
    }
   
  </script>
</body>

</html>