<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <style>
    body {
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    #container {
      border: 1px solid black;
      width: 300px;
      height: 500px;
      padding: 5px;
      justify-content: center;
    }

    #list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid black;
      height: 350px;
    }

    .input {
      margin: 10px 30px;
    }

    #title {
      display: flex;
      justify-content: center;
      font-size: 25px;
      margin-top: 60px;
      margin-bottom: 20px;
    }

    .button {
      display: flex;
      margin-top: 20px;
      justify-content: center;
      border: 1px solid black;
      border-radius: 30px;
      width: 140px;
      height: 40px;
      align-items: center;
    }
  </style>
</head>

<body>
  <div id='container'>
    <div id='title'>X월 X일 Event</div>
    <div id='list'>
      <thead>
        <th>번호</th>
        <th>보낸사람</th>
        <th>금액</th>
      </thead>
      
    </div>
    <div style='
        display: flex; 
        justify-content: 
        flex-end; 
        margin-top: 10px;'>
        total :
      </div>
    
    <div class='button' id="createQrClick" style="float:left;">QR생성</div>
    <div class='button' onClick='messageClick()' style="float:right;" >메시지 확인</div>

  </div>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script>
     const messageClick = () => window.location.href='./message'
     const userEmail = localStorage.getItem("userEmail");
     fetchMessageData();
     function fetchMessageData() {
      $.ajax({
        url: "/admin",
        type: "POST",
        data: {
          userEmail: userEmail
        },
        success: function (data) {
          // console.log('data' ,data);
          // console.log(data.length);
          console.log(data);
          console.log(data[0].name);
          $("#list").append();
          for (var i = 0; i < data.length; i++) {
              $("#list").append('<div class="input">' + data[i].no + "  " + data[i].name + "   " + data[i].money + '</div>'
                
              );
            }

      }
    });
  }

  
     var fin_use_num;
     // console.log("userEmail", userEmail);
     fetchUserData();
     function fetchUserData() {
       $.ajax({
         url: "/list",
         type: "POST",
         data: {
           userEmail: userEmail
         },
         success: function (data) {
           // console.log('data' ,data);
           var fin_use_num = data.res_list[0].fintech_use_num;
           console.log(fin_use_num);
           $("#createQrClick").click(function() { window.location.href = "/qrcode?fin_use_num=" + fin_use_num; } );
          
           
       }});
     }
    
   </script>
</body>

</html>