<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <style>
      body {
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      #container {
        border: 1px solid black;
        width: 300px;
        height: 500px;
        padding: 5px;
      }
      #customer{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
      }
      #messageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        width: 200px;
        height: 250px;
      }
      #qrReader {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        border: 1px solid black;
        border-radius: 30px;
        width: 150px;
        height: 40px;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div id='container'>
      <div id='customer'>
          <textarea id ='messageContainer' rows="16" cols="40" placeholder="메시지를 입력해주세요."></textarea>
      </div>
      <div style='display: flex; justify-content: center;'>
        <div style='width: 45px;'>금액:</div>
        <input type="text" id="Money" class="form-element"  placeholder="송금금액" value="">
      </div>
      <div style='display: flex; justify-content: center;'>
        <div id='qrReader' onClick='cameraClick()'>qr리더</div>
      </div>
     
     <div style='display: flex; justify-content: center;'>
        <button type="button" id="kakaoPay" ><img src="/img/payment_icon_yellow_small.png"></button>
      </div>

    </div>

    <!-- JQuery library file. requared all pages -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- Template global script file. requared all pages -->
    <script src="js/global.script.js"></script>

    <script>
      const cameraClick = () =>{
        localStorage.setItem('message', $('#messageContainer').val());
        localStorage.setItem('price', $('#Money').val());
        window.location.href='./camera'
      }
      

      $("#kakaoPay").click(function () {
      //var tmpWindow = window.open("about:blank");
      var money=$("#Money").val();
      
      $.ajax({
        url: "/test",
        type: "POST",
        data:{
            money:money
        },
        success: function (data) {
          console.log(data);
          window.location.href = data.redirectUrl
          
          },
        error:function(error){
          console.log(error+"dddd")
        }
      });
    });

    </script>
  </body>
</html>