<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <style>
    body {
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    #container {
      border: 1px solid black;
      width: 300px;
      height: 500px;
      padding: 5px;
      justify-content: center;
    }

    #list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid black;
      height: 350px;
      overflow-y:scroll;
    }

    .input {
      margin: 10px 30px;
      border: 1px solid rgb(118, 118, 118);
    }

    #title {
      display: flex;
      justify-content: center;
      font-size: 25px;
      margin-top: 60px;
      margin-bottom: 20px;
    }

  </style>
</head>

<body>
  <div id='container'>
    <div id='title'>X월 X일 Event</div>
    <div id='list'>
      <!-- <input class='input'>
      <input class='input'>
      <input class='input'>
      <input class='input'>
      <input class='input'>
      <input class='input'>
      <input class='input'>
      <input class='input'> -->
    </div>
    <div style='
        display: flex; 
        justify-content: 
        flex-end; 
        margin-top: 10px;'>
      
      total: 225,000
      
    </div>

      
    </div>

  </div>
  <!-- JQuery library file. requared all pages -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script>
    const userEmail = localStorage.getItem("userEmail");
    fetchMessageData();
    function fetchMessageData() {
      $.ajax({
        url: "/message",
        type: "POST",
        data: {
          userEmail: userEmail
        },
        success: function (data) {
          // console.log('data' ,data);
          // console.log(data.length);
          console.log(data);
          console.log(data[0].message);
          $("#list").append();
          for (var i = 0; i < data.length; i++) {
              $("#list").append('<div class="input">' + data[i].message + '</div>'
                
              );
            }

      }});
    }
   
  </script>
</body>

</html>