<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <style>
    body {
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    #container {
      border: 1px solid black;
      width: 300px;
      height: 500px;
      padding: 5px;
      justify-content: center;
    }

    #list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid black;
      height: 350px;
      overflow-y:scroll;
    }

    .input {
      margin: 10px 30px;
      border: 1px solid rgb(118, 118, 118);
    }

    #title {
      display: flex;
      justify-content: center;
      font-size: 25px;
      margin-top: 60px;
      margin-bottom: 20px;
    }

    .button {
      display: flex;
      margin-top: 20px;
      justify-content: center;
      border: 1px solid black;
      border-radius: 30px;
      width: 140px;
      height: 40px;
      align-items: center;
    }
  </style>
</head>

<body>
  <div id='container'>
    <div id='title'>X월 X일 Event</div>
    <div id='list'>
      <thead>
        <!-- <th>번호</th>
        <th>받는사람</th>
        <th>금액</th> -->
      </thead>
      
    </div>
    <div style='
        display: flex; 
        justify-content: 
        flex-end; 
        margin-top: 10px;' id='total'>
        total :
      </div>
    

  </div>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script>
     const userEmail = localStorage.getItem("userEmail");
     fetchMessageData();
     function fetchMessageData() {
      $.ajax({
        url: "/sendlist",
        type: "POST",
        data: {
          userEmail: userEmail
        },
        success: function (data) {
          var amount=0;
          // console.log('data' ,data);
          // console.log(data.length);
          console.log(data);
          console.log(data[0].name);
          $("#list").append('<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>');
          for (var i = 0; i < data.length; i++) {
              $("#list").append('<div class="input">' + data[i].name + "   " + data[i].money + '원 </div>'
              
              );
              amount+=Number(data[i].money);
            }
            $("#total").append(amount + "   원");
            localStorage.setItem('total', amount);
      }
    });
  }
    
   </script>
</body>

</html>